    <% @product.reviews.order("created_at DESC").each do |review| %>
      <% user = User.find(review.user_id) %>
        <% if review.description.blank? %>
          <% if current_user.present? && current_user.id == review.user_id %>
            <div><%= link_to fa_icon('trash'), [review], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %><div>
            <% end %>
          <div><%= "#{user.first_name} gave a rating of #{review.rating}/5" %> </div>
        <% else %>
          <% if current_user.present? && current_user.id == review.user_id %>
            <div><%= link_to fa_icon('trash'), [review], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %></div>
          <% end %>
          <div> <%= "Review By: #{user.first_name}" %> </div>
          <div> <%= "Description: #{review.description}" %> </div>
          <div> <%= "Rating: #{review.rating}" %> </div>
        <% end %>
    <% end %>